@media (min-width: 1700px) {
   .logo-btn {
      right: -70px;
   }
   .item-bg-overlay {
      width: calc(100% + 70px);
   }
   .page-indecator {
      right: -80px;
   }
   .next-prev-btn {
      right: -70px;
   }
   .config-price-wrap {
      right: -30px;
   }
}

/* xl. */
@media (min-width: 1200px) and (max-width: 1500px) {
   .container {
      max-width: 1160px;
   }
   .config-area {
      padding: 0;
   }
   .config-wheel {
      left: calc(100% - 45px);
      top: 110px;
   }
   .main-menu ul li a {
      display: block;
      font-size: 15px;
   }
   .header-icons a {
      font-size: 16px;
   }
   .header-icons {
      margin-left: 0;
   }
   .config-area {
      padding: 120px 0;
   }
   .thank-contant h3 {
      font-size: 3rem;
      padding: 0.4em 0;
   }
   .thank-contant h2 {
      font-size: 6rem;
   }
   .thank-btn button {
      height: 6rem;
      width: 18rem;
   }
   .back-shop-btn button {
      height: 60px;
      padding: 0 2.778em;
   }
   .last-preview-wheel {
      width: 500px;
   }
   .demo-logo-btn,
   .demo-next-btn {
      right: 0;
   }
   .page-counter {
      right: -37px;
   }
   .demo-name-tab {
      padding-left: 20px;
   }
   .demo-tab-items {
      padding: 0 45px;
   }
   .get-qoute-btn button {
      padding-left: 25px;
      padding-right: 25px;
   }
   .single-arrow-shape img {
      max-width: 220px;
   }

   .color-picker-wrap {
      width: 70%;
   }
   .revert-color-btn {
      width: 30%;
   }
   .side-btn {
      font-size: 18px;
      padding: 1em 2em;
   }
   .price-text h4 {
      font-size: 20px;
   }
   .choose-color-text h3 {
      font-size: 18px;
   }
   .config-header-text h2 {
      font-size: 38px;
   }
   .color-picker-wrap h4 {
      font-size: 18px;
   }
   .color-panal ul li {
      height: 60px;
      width: 45px;
      margin: 2px;
   }
   .preview-selected-color ul li, .nextpage-selected-color ul li {
      height: 60px;
      width: 45px;
      line-height: 60px;
      font-size: 24px;
      margin: 2px;
   }
   .page-counter ul li h6 {
      font-size: 12px;
   }
   .config-header-text {
      padding-left: 2.5rem;
   }
   .section-top-text h1 {
      font-size: 5.4rem;
   }
   .input-item input, .input-item textarea {
      font-size: 18px;
      padding: .8em 1.5em;
   }
   .input-item::after {
      height: 55px;
   }
   .logo img {
      max-width: 55px;
      padding: 5px 0;
   }
   .revert-color-btn button {
      padding: 15px 25px;
   }
   .demo-color-panal ul li {
      height: 57px;
      width: 45px;
      margin: 2px;
   }
   .preview-selected-color h2, .nextpage-selected-color h2 {
      font-size: 18px;
   }
   .demo-name-tab a {
      font-size: 17px;
   }
   .demo-left {
      height: 660px;
   }
   
   .preview-img img {
      width: 230px;
   }

/* poiter arrow position */
   .single-arrow-shape.face {
      right: 7%;
      top: 13%;
   }
   .single-arrow-shape.accents {
      top: 15.5%;
      right: -16%;
   }
   .single-arrow-shape.cap-letter {
      top: 49%;
      right: -13%;
      left: auto;
   }
   .single-arrow-shape.cap {
      top: 52%;
      right: -4%;
   }
   .single-arrow-shape.barrel-letter {
      top: 5%;
      right: -16%;
   }
   .single-arrow-shape h5 {
      transform: scale(.9);
   }
   .single-arrow-shape.big-bolts h5 {
      transform: rotate(18deg) translate(5px,30px) scale(.9);
   }
   .single-arrow-shape.small-bolts {
      top: 43%;
      right: 21%;
      bottom: auto;
   }
   .single-arrow-shape.big-bolts {
      top: 36%;
      right: 3%;
   }
   .single-arrow-shape.spike-letter {
      top: 28%;
   }
   .single-arrow-shape.inner-barrel {
      right: 15%;
   }
   .single-arrow-shape.face-letter {
      right: -25%;
   }
/*Legend poiter arrow position */
   .kf005-Forte-config .single-arrow-shape.accents {
      top: 20.5%;
   }
   .kf010-valor-config .single-arrow-shape.accents {
      right: -18%;
   }
   .kf011-spool-config .single-arrow-shape.accents {
      right: -13%;
   }
   .kf014-snow-config .single-arrow-shape.accents {
      right: -13%;
   }
   .kf015-gear-config .single-arrow-shape.accents {
      top: 17%;
      right: -14%;
   }
   .kf016-rays-config .single-arrow-shape.accents {
      top: 17%;
      right: -15%;
   }
   .kf018-agent-config .single-arrow-shape.accents {
      top: 24%;
   }

   .kc014-trident-config .single-arrow-shape.accents {
      right: -12%;
   }
   .kc010-victor-config .single-arrow-shape.accents {
      right: -18%;
   }
   .kc009-vortex-config .single-arrow-shape.accents {
      top: 17%;
   }
   .kc002-revo-config .single-arrow-shape.accents, .kc004-kala-config .single-arrow-shape.accents, .kc006-boost-config .single-arrow-shape.accents, .kc008-eddy-config .single-arrow-shape.accents {
      right: -14%;
   }
   
/*concave poiter arrow position */
   .kc005-edge-config .single-arrow-shape.accents {
      top: 29%;
      right: -19%;
   }

   /* dually pointer arrow position */
   .kd001-master-rear-config .single-arrow-shape.face {
      right: -5%;
   }
   .kd001-master-rear-config .single-arrow-shape.barrel-letter {
      top: 6%;
      right: -17%;
   }
   .kd001-master-rear-config .single-arrow-shape.big-bolts,
   .kd001-master-rear-outer-config .single-arrow-shape.big-bolts,
   .kd002-honor-rear-config .single-arrow-shape.big-bolts,
   .kd002-honor-rear-outer-config .single-arrow-shape.big-bolts,
   .kd003-sarge-rear-config .single-arrow-shape.big-bolts,
   .kd003-sarge-rear-outer-config .single-arrow-shape.big-bolts,
   .kd004-dule-rear-config .single-arrow-shape.big-bolts,
   .kd004-dule-rear-outer-config .single-arrow-shape.big-bolts,
   .kd005-razor-rear-config .single-arrow-shape.big-bolts,
   .kd005-razor-rear-outer-config .single-arrow-shape.big-bolts,
   .kd006-blitz-rear-config .single-arrow-shape.big-bolts,
   .kd006-blitz-rear-outer-config .single-arrow-shape.big-bolts,
   .kd007-lotus-rear-config .single-arrow-shape.big-bolts,
   .kd007-lotus-rear-outer-config .single-arrow-shape.big-bolts,
   .kd008-trident-d-rear-config .single-arrow-shape.big-bolts,
   .kd008-trident-d-rear-outer-config .single-arrow-shape.big-bolts{
      top: 23%;
      right: -13%;
   }
   .kd001-master-rear-config .single-arrow-shape.accents {
      right: -5%;
   }
   .kd005-razor-rear-config .single-arrow-shape.accents,
   .kd005-razor-rear-outer-config .single-arrow-shape.accents {
      right: -10%;
      top: 13.5%;
   }
   .kd005-razor-rear-config .single-arrow-shape.accents {
      top: 15.5%;
   }
   .kd007-lotus-rear-config .single-arrow-shape.accents,
   .kd007-lotus-rear-outer-config .single-arrow-shape.accents {
      right: -29%;
   }

   .kd014-trident-d-rear-config .single-arrow-shape.accents,
   .kd014-trident-d-rear-outer-config .single-arrow-shape.accents {
      right: -17%;
   }

   /* SPORT POINTER POSITION */
   .ks601-blade-config .single-arrow-shape.cap {
      top: 48%;
   }
   .ks601-blade-config .single-arrow-shape.cap-letter {
      top: 50%;
   }  
   .ks601-blade-config .single-arrow-shape.face {
      right: 12%;
   }
   .ko100-heral-beadlock-config .single-arrow-shape.big-bolts {
      top: 1%;
      right: -22%;
   }

   .ko120D-heral-config .single-arrow-shape.big-bolts,
   .ko200-rush-beadlock-config .single-arrow-shape.big-bolts,
   .KO400-Reload-Beadlock-config .single-arrow-shape.big-bolts {
      top: -1%;
   }
   
}

/* LG */
@media (min-width: 992px) and (max-width: 1199px) {
   .main-menu ul li a {
      font-size: 14px;
      padding: 10px 5px;
   }
   .last-preview-wheel {
      width: 100%;
      left: 100%;
   }
   .main-menu ul li a::after {
      bottom: -5px;
   }
   .header-icons a {
      font-size: 10px;
   }
   .header-icons a:nth-child(4) span {
      height: 15px;
      width: 15px;
      top: -5px;
      right: -5px;
      line-height: 15px;
      font-size: 8px;
   }
   .header-icons {
      margin-left: 0;
   }
   .logo img {
      max-width: 90px;
   }
   .config-area {
      padding: 0;
   }
   .config-header-text h2 {
      font-size: 32px;
   }
   .config-header-text h4 {
      font-size: 16px;
   }
   .config-header-text h5 {
      font-size: 15px;
   }
   .config-header-text {
      padding-left: 25px;
   }
   .choose-color-text h3 {
      font-size: 18px;
      padding: 0.56em 15px;
   }
   .placeholder-logo-img img {
      max-height: 265px;
   }
   .side-btn {
      font-size: 14px;
      padding: 18px 22px;
   }
   .config-content-wrap {
      margin: 0px 0;
   }
   .config-area {
      padding: 80px 0;
   }
   .config-content {
      width: 50%;
   }
   .color-name-select {
      padding-left: 25px;
   }
   .color-picker-wrap {
      padding: 0 25px;
   }
   .config-wheel {
      left: calc(100% - 30px);
   }
   .item-bg-overlay {
      top: 20%;
      height: 400px;
   }
   .demo-wrapper .item-bg-overlay {
      height: 415px;
   }
   .config-price-wrap {
      bottom: 15%;
   }
   .page-indecator {
      right: 0;
      margin-right: 0px;
   }
   .thank-btn button {
      height: 5rem;
      width: 18rem;
   }
   .back-shop-btn button {
      height: 50px;
      padding-top: 0;
      padding-bottom: 0;
   }
   .thank-contant h3 {
      font-size: 2.5rem;
   }
   .thank-contant h2 {
      font-size: 5.5rem;
   }
   .color-social-links a i {
      height: 55px;
      width: 55px;
      line-height: 55px;
   }
   .thank-contant p {
      font-size: 18px;
      width: 100%;
   }
   .section-top-text h1 {
      font-size: 5rem;
   }
   .demo-left {
      width: 50%;
      height: 625px;
   }
   .demo-right {
      width: 50%;
      margin-left: -30px;
      margin-top: 35px;
   }
   .demo-tab-items {
      padding: 0 25px;
   }
   .demo-name-tab {
      padding-left: 25px;
      padding-bottom: 20px;
   }
   .demo-logo-btn,
   .demo-next-btn {
      right: 0;
   }
   .page-counter {
      right: -40px;
   }
   .preview-selected-color {
      padding-left: 0;
   }

   /* -arrow-shape */
   .single-arrow-shape img {
      max-width: 210px;
   }
   .page-counter ul li h6 {
      font-size: 12px;
      font-weight: 600;
      color: #fff;
      background: #313131;
      padding: 0 15px;
      padding-right: 35px;
   }
   .color-picker-wrap {
      width: 70%;
   }
   .revert-color-btn {
      width: 30%;
   }
   .preview-selected-color h2, .nextpage-selected-color h2 {
      font-size: 16px;
      padding-top: 5px;
   }
   .demo-name-tab a {
      font-size: 16px;
   }
   .demo-color-title {
      font-size: 18px;
   }
   .demo-color-panal ul li, .preview-selected-color ul li, .nextpage-selected-color ul li {
      height: 50px;
      width: 40px;
      margin: 2px;
   }
   h4.demo-color-title span, .demo-name-tab a span {
      height: 22px;
      width: 22px;
      line-height: 22px;
      font-size: 14px;
   }

   .color-picker-wrap h4 {
      font-size: 18px;
   }
   .color-panal ul li {
      height: 50px;
      width: 40px;
      margin: 1px;
   }
   .preview-img img {
      width: 200px;
   }
   .input-item input, .input-item textarea {
      font-size: 18px;
      padding: .8em 1.5em;
   }
   ::placeholder {
      font-size: 18px;
   }
   *::-moz-placeholder {
      font-size: 18px;
   }
/* poiter arrow position */
   .single-arrow-shape.face {
      right: 47%;
      top: 70%;
      transform: rotate(45deg);
   }
   .single-arrow-shape.face h5{
      transform: rotate(-45deg);
   }
   .single-arrow-shape.accents {
      top: 20%;
      right: 6%;
   }
   .single-arrow-shape.cap {
      top: 63%;
      right: 7%;
      transform: rotate(45deg);
   }
   .single-arrow-shape.cap h5{
      transform: rotate(-45deg);
   }
   .single-arrow-shape.cap-letter {
      top: 69%;
      right: -1%;
      left: auto;
      transform: rotate(45deg);
   }
   .single-arrow-shape.cap-letter h5 {
      transform: rotate(-45deg);
      transform-origin: top left;
   }
   .single-arrow-shape.barrel-letter {
      top: 27%;
      right: -6%;
      transform: rotate(45deg);
      left: auto;
   }
   .single-arrow-shape.barrel-letter h5 {
      transform: rotate(-45deg);
      transform-origin: top left;
   }
   .single-arrow-shape.small-bolts {
      top: 36%;
      right: 29%;
      bottom: auto;
      transform: rotate(45deg);
      transform-origin: left bottom;
   }
   .single-arrow-shape.small-bolts h5 {
      transform: rotate(-45deg);
      transform-origin: left top;
   }
   .single-arrow-shape.big-bolts {
      top: 73%;
      right: 8%;
      bottom: auto;
      transform: rotate(45deg);
   }
   .single-arrow-shape.big-bolts h5 {
      transform: rotate(-45deg);
      transform-origin: top left;
   }
   .single-arrow-shape.inner-barrel {
      right: 10%;
   }
   .single-arrow-shape.face-letter {
      transform: rotate(45deg);
      transform-origin: top left;
      right: -33%;
   }
   .single-arrow-shape.face-letter h5{
      transform: rotate(-45deg);
      transform-origin: top left;
   }
   .single-arrow-shape.outer-barrel {
      transform: rotate(45deg);
      transform-origin: top left;
   }
   .single-arrow-shape.outer-barrel-border {
      transform: rotate(45deg);
      transform-origin: top left;
   }

/*Legend poiter arrow position */
   .kf005-Forte-config .single-arrow-shape.accents {
      top: 30.5%;
   }
   .kf007-curl-config .single-arrow-shape.accents {
      top: 28%;
      right: 11%;
   }
   .kf010-valor-config .single-arrow-shape.accents {
      right: -2%;
   }
   .kf011-spool-config .single-arrow-shape.accents {
      top: 29%;
      right: 0%;
   }
   .kf014-snow-config .single-arrow-shape.accents {
      right: -5%;
   }
   .kf015-gear-config .single-arrow-shape.accents {
      top: 18%;
      right: 1%;
   }
   .kf016-rays-config .single-arrow-shape.accents {
      top: 17%;
      right: -5%;
   }
   .kf017-hurricane-config .single-arrow-shape.accents {
      top: 23%;
      right: -3%;
   }
   .kf018-agent-config .single-arrow-shape.accents {
      top: 22%;
      right: 0%;
   }

   
/*concave poiter arrow position */

   .kc014-trident-config .single-arrow-shape.accents {
      right: -15%;
   }
   .kc011-ace-config .single-arrow-shape.accents {
      top: 21%;
   }
   .kc010-victor-config .single-arrow-shape.accents {
      right: -21%;
   }
   .kc009-vortex-config .single-arrow-shape.accents {
      top: 21%;
   }
   .kc002-revo-config .single-arrow-shape.accents, .kc004-kala-config .single-arrow-shape.accents, .kc006-boost-config .single-arrow-shape.accents, .kc008-eddy-config .single-arrow-shape.accents {
      right: -17%;
   }
   .kc005-edge-config .single-arrow-shape.accents {
      right: -22%;
   }
  .kc004-kala-config .single-arrow-shape.accents,
  .kc002-revo-config .single-arrow-shape.accents{
      top: 15%;
   }
/* dually pointer position */
   .kd001-master-rear-config .single-arrow-shape.accents {
      right: -2%;
   }
   .kd001-master-rear-config .single-arrow-shape.big-bolts,
   .kd001-master-rear-outer-config .single-arrow-shape.big-bolts,
   .kd002-honor-rear-config .single-arrow-shape.big-bolts,
   .kd002-honor-rear-outer-config .single-arrow-shape.big-bolts,
   .kd003-sarge-rear-config .single-arrow-shape.big-bolts,
   .kd003-sarge-rear-outer-config .single-arrow-shape.big-bolts,
   .kd004-dule-rear-config .single-arrow-shape.big-bolts,
   .kd004-dule-rear-outer-config .single-arrow-shape.big-bolts,
   .kd005-razor-rear-config .single-arrow-shape.big-bolts,
   .kd005-razor-rear-outer-config .single-arrow-shape.big-bolts,
   .kd006-blitz-rear-config .single-arrow-shape.big-bolts,
   .kd006-blitz-rear-outer-config .single-arrow-shape.big-bolts,
   .kd007-lotus-rear-config .single-arrow-shape.big-bolts,
   .kd007-lotus-rear-outer-config .single-arrow-shape.big-bolts,
   .kd014-trident-d-rear-config .single-arrow-shape.big-bolts,
   .kd014-trident-d-rear-outer-config .single-arrow-shape.big-bolts {
      top: 49%;
      right: -2%;
   }
   .single-arrow-shape.spike {
      top: 65%;
   }
   .single-arrow-shape.spike-letter {
      top: 64%;
      right: -4%;
   }
   .kd001-master-rear-config .single-arrow-shape.barrel-letter {
      top: 29%;
   }
   .kd001-master-rear-config .single-arrow-shape.face {
      right: -13%;
   }

   .kd001-master-rear-outer-config .single-arrow-shape.spike {
      top: 67%;
      right: -3%;
   }
   .kd001-master-rear-outer-config .single-arrow-shape.spike-letter {
      right: -5%;
      top: 65%;
   }
   .kd001-master-rear-outer-config .single-arrow-shape.barrel-letter,
   .kd002-honor-rear-outer-config .single-arrow-shape.barrel-letter,
   .kd003-sarge-rear-outer-config .single-arrow-shape.barrel-letter,
   .kd004-dule-rear-outer-config .single-arrow-shape.barrel-letter,
   .kd005-razor-rear-outer-config .single-arrow-shape.barrel-letter,
   .kd006-blitz-rear-outer-config .single-arrow-shape.barrel-letter,
   .kd007-lotus-rear-outer-config .single-arrow-shape.barrel-letter,
   .kd014-trident-d-rear-outer-config .single-arrow-shape.barrel-letter {
      top: 31%;
      right: -15%;
   }
   .kd001-master-rear-outer-config .single-arrow-shape.face {
      right: 34%;
      top: 62%;
   }

   .kd005-razor-rear-config .single-arrow-shape.accents,
   .kd005-razor-rear-outer-config .single-arrow-shape.accents {
      right: 0%;
      top: 16%;
   }
   .kd005-razor-rear-config .single-arrow-shape.accents{
      top: 17%;
   }

   .kd006-blitz-rear-outer-config .single-arrow-shape.accents,
   .kd006-blitz-rear-config .single-arrow-shape.accents {
      top: 33%;
   }
   .kd007-lotus-rear-config .single-arrow-shape.accents,
   .kd007-lotus-rear-outer-config .single-arrow-shape.accents {
      top: 63.5%;
      right: 19%;
   }

   .kd014-trident-d-rear-config .single-arrow-shape.accents,
   .kd014-trident-d-rear-outer-config .single-arrow-shape.accents {
      top: 35%;
      right: 8%;
   }


   /* sport pointer position */
   .ks601-blade-config .single-arrow-shape.accents {
      top: 23%;
      right: 17%;
   }
   .ks601-blade-config .single-arrow-shape.face {
      right: 24%;
      top: 23%;
   }
   .ks601-blade-config .single-arrow-shape.cap-letter {
      top: 70%;
   }
   .ks601-blade-config .single-arrow-shape.cap {
      top: 64%;
   }
   .ks602-mission-config .single-arrow-shape.barrel-letter {
      top: 32%;
   }
   .ks602-mission-config .single-arrow-shape.face {
      top: 41%;
   }
   .ks601-blade-config .single-arrow-shape.accents {
      top: 15%;
   }

   /* overland pointer position */
   .ko100-heral-beadlock-config .single-arrow-shape.big-bolts {
      top: 24%;
      right: -1%;
   }
   .ko120A-heral-config .single-arrow-shape.accents {
      top: 22%;
   }
   .ko120A-heral-config .single-arrow-shape.face {
      top: 39%;
   }
   .ko120D-heral-config .single-arrow-shape.barrel-letter {
      top: 34%;
   }
   .ko120D-heral-config .single-arrow-shape.face {
      top: 40%;
   }
   .ko120D-heral-config .single-arrow-shape.big-bolts,
   .ko200-rush-beadlock-config .single-arrow-shape.big-bolts,
   .KO400-Reload-Beadlock-config .single-arrow-shape.big-bolts {
      top: 27%;
   }
   
}

/* ======small-device-and MD device====== */
@media (max-width: 991px) {
   html {
      font-size: 30.5%;
   }
   .config-area .container {
      padding: 0;
   }
   .config-black-bg {
      height: 77%;
   }
   .main-bg {
      height: 100%;
   }
   .config-header-text {
      padding: 0 15px;
      text-align: center;
   }
   .config-area {
      min-height: auto;
      padding: 0px 0;
   }
   .main-menu ul li {
      display: block;
      text-align: center;
   }
   .menu-wrap {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 0 0px;
   }
   .logo img {
      max-width: 40px;
      padding: 5px 0;
   }
   .main-menu ul li a::after {
      bottom: 0px;
   }
   .main-menu ul {
      background: #000;
      padding: 30px 10px;
   }
   .main-menu ul li a {
      font-size: 12px;
      margin-bottom: 0.1em;
   }
   .main-menu ul li a:hover::after,
   .main-menu ul li a.active::after {
      width: 100%;
      height: 2px;
   }
   .header-area.social-links {
      display: block;
   }
   .header-icons a:nth-child(5) {
      display: block;
   }
   .main-menu ul {
      height: 0;
      overflow: hidden;
      padding: 0 10px;
      transition: 0.4s ease-in-out;
      opacity: 0;
   }
   .active-menu .main-menu ul {
      opacity: 1;
      height: 430px;
      overflow: hidden;
      padding: 30px 10px;
   }
   .header-area .social-links {
      display: block;
   }
   .header-shape {
      transform: skew(0deg);
      width: 100%;
      border: none;
   }
   .header-area::before {
      display: none;
   }
   .header-area {
      padding-top: 0;
   }
   .social-links a {
      font-size: 12px;
   }
   .form-btn-wrapper {
      justify-content: space-between;
   }
   .header-icons {
      justify-content: flex-end;
   }
   .header-icons a {
      font-size: 10px;
   }
   .header-icons a:nth-child(1)::before {
      width: 2px;
      left: -4px;
   }
   .header-icons a:nth-child(2) {
      height: calc(2.778em - 4px);
   }
   .header-icons a:nth-child(2)::before {
      height: 2px;
      bottom: -4px;
   }
   .header-icons a:nth-child(3) {
      margin-left: 5px;
   }
   .header-icons a:nth-child(3)::before {
      width: 2px;
      left: -4px;
   }
   .header-icons a:nth-child(4) {
      height: calc(2.778em - 4px);
   }
   .header-icons a:nth-child(4)::before {
      height: 2px;
      bottom: -4px;
   }
   .header-icons a:nth-child(5)::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 2px;
      right: -4px;
      top: 0;
   }
   .header-icons a:nth-child(5) {
      width: calc(2.778em - 4px);
      margin-right: 4px;
   }
   .header-icons a:nth-child(4) span {
      height: 15px;
      width: 15px;
      top: -7px;
      right: 0px;
      line-height: 15px;
      font-size: 8px;
   }

   /* config-wheel */
   .config-header-text {
      order: 1;
   }
   .config-wheel {
      order: 2;
   }
   .config-preview {
      order: 1;
   }
   .color-price-text {
      order: 4;
   }
   .color-name-select {
      order: 5;
   }
   .color-picker-wrap {
      order: 6;
   }
   .page-indecator {
      order: 7;
   }
   .next-prev-btn {
      order: 8;
   }

   .desktop-content-wrapper {
      display: none;
   }
   .item-bg-overlay {
      display: none;
   }
   .logo-btn,
   .config-price-wrap,
   .next-prev-btn,
   .page-indecator {
      display: block;
   }
   .page-indecator {
      display: flex;
   }
   .config-wheel {
      padding-left: 10px;
      position: relative;
      width: 100%;
      left: auto;
      margin-bottom: 20px;
      top: auto;
   }
   .config-preview {
      margin: 0;
      margin-bottom: 0;
      width: 100%;
      padding-top: 0;
      padding-left: 0;
      text-align: center;
      margin-bottom: 15px;
   }
   .logo-btn {
      position: relative;
   }
   .config-header-text h4 {
      font-size: 13px;
   }
   .config-header-text h5 {
      font-size: 11px;
   }
   .config-header-text h2 {
      font-size: 30px;
   }
   .config-header-text {
      width: 100%;
   }
   .config-content {
      width: 100%;
   }
   .preview-img {
      display: none;
   }
   .choose-color-text h3 {
      font-size: 12px;
      padding: 10px 5px;
   }
   .color-price-text {
      display: flex;
      flex-wrap: wrap;
   }
   .config-price-wrap {
      position: relative;
      right: auto;
      bottom: auto;
   }
   .price-text h4 {
      font-size: 12px;
      color: #fff;
   }
   .price-text .delete-price {
      font-size: 12px;
      color: #fff;
   }
   .price-text h5 {
      font-size: 14px;
   }
   .choose-color-text {
      width: 50%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
   }
   .config-price-wrap {
      width: 50%;
      padding-right: 15px;
   }
   .color-name-select ul li {
      padding-left: 15px;
   }
   .color-name-select ul li::before {
      width: 10px;
      height: 1px;
      margin-top: 0.5px;
   }
   .color-name-select ul li {
      font-size: 12px;
   }
   .color-name-select {
      padding-left: 35px;
      width: 40%;
   }
   .color-picker-wrap h4 {
      font-size: 12px;
      margin-bottom: 5px;
   }
   .color-panal ul li {
      height: 30px;
      border-radius: 1px;
      margin: 2px 2px;
   }
   .color-picker-wrap {
      padding: 0;
      width: 60%;
      padding-left: 20px;
      padding-bottom: 15px;
      padding-right: 35px;
   }
   .page-indecator {
      position: relative;
      top: auto;
      right: 0;
      transform: none;
      width: 40%;
      padding-left: 10px;
   }
   .page-indecator span {
      font-size: 10px;
      font-weight: 700;
      font-family: "Oswald", sans-serif;
      margin-right: 10px;
   }
   .next-prev-btn button {
      margin-left: 5px;
   }
   .next-prev-btn {
      position: relative;
      width: 50%;
      padding-left: 10px;
      padding-right: 10px;
      text-align: right;
      display: flex;
      justify-content: flex-end;
   }
   .page-indecator .indecator-line {
      height: 3px;
   }
   .tooltip-inner {
      font-size: 10px;
      font-weight: 400;
   }
   .bs-tooltip-bottom .arrow::before {
      border-width: 3px;
   }
   .config-preview .side-btn {
      padding: 13px 30px;
      font-size: 12px;
   }
   .side-btn {
      padding: 12px 12px;
      font-size: 12px;
   }
   .color-panal ul {
      display: flex;
      flex-wrap: wrap;
   }
   /* border-btn */
   .grad-transition {
      box-shadow: 0 10px 15px #faa61a inset;
   }
   .btn-border-1,
   .btn-border-2 {
      width: 2px;
   }
   .btn-border-1::after,
   .btn-border-1::before {
      left: -4px;
      width: 2px;
   }
   .btn-border-2::after,
   .btn-border-2::before {
      left: 4px;
      width: 2px;
   }
   /* form */
   .section-top-text h1 {
      font-size: 6rem;
   }
   .section-top-text {
      margin: 15px 20px;
   }
   .config-form {
      padding: 20px;
   }
   .input-item input,
   .input-item textarea {
      font-size: 14px;
      padding: 8px 15px;
   }
   .input-item {
      margin-bottom: 15px;
   }
   .input-item::after {
      height: 40px;
      width: 40px;
   }
   .config-form-wrap {
      padding: 0;
   }
   .check-box-item label {
      font-size: 10px;
      font-weight: 600;
   }
   .check-box-item span {
      height: 20px;
      width: 20px;
   }
   .check-box-item span::before {
      height: 10px;
      width: 10px;
   }
   .config-btn a {
      font-size: 10px;
      margin-left: 5px;
   }
   .config-btn {
      text-align: center;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
   }
   .config-check-box {
      margin-bottom: 5px;
      text-align: center;
   }
   .get-qoute-btn {
      text-align: center !important;
   }
   .check-box-item {
      margin-right: 3rem;
   }
   .thank-contant p {
      font-size: 14px;
      margin-bottom: 1.2em;
      width: 100%;
   }
   .color-social-links a i {
      font-size: 14px;
      height: 35px;
      width: 35px;
      line-height: 35px;
   }

   /* thank */
   .thank-content-wrap {
      text-align: center;
   }
   .last-preview-wheel {
      position: relative;
      left: 0;
      top: 0;
      margin-bottom: 30px;
      width: auto;
   }
   .thank-btn button {
      width: 20rem;
   }
   .thank-contant h3 {
      font-size: 3.5rem;
      padding: 5px 10px;
      margin-bottom: 10px;
   }
   .thank-content-wrap {
      padding: 4rem;
      padding-top: 5rem;
   }
   .back-shop-btn {
      position: relative;
      bottom: 0;
      right: 0;
      padding-top: 10px;
   }
   .back-shop-btn button {
      height: 45px;
   }
   .popup-links ul li a {
      font-size: 10px;
      padding: 1rem 2rem;
      flex-wrap: wrap;
   }
   .color-social-links {
      margin-bottom: 3rem;
   }
   .popup-links {
      top: auto;
      left: 50%;
      width: 35rem;
      bottom: 60px;
      transform: translateX(-50%);
   }
   .last-preview-wheel {
      width: 100%;
   }
   .thank-area {
      height: auto;
      padding: 60px 0;
   }

   .color-panal ul li::before {
      font-size: 12px;
   }
   .last-preview-wheel .config-wheel {
      position: relative;
      top: 0px;
   }
   .config-wheel {
      width: 320px;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
   }
   /* demo */
   .demo-left {
      width: 100%;
      max-height: inherit;
   }
   .placeholder-logo-img img {
      max-height: 215px;
   }
   .demo-right {
      width: 100%;
      margin-left: 0;
      position: absolute;
      top: 200px;
      left: 0;
      width: 100%;
      margin-top: 0;
   }
   .demo-left .choose-color-text {
      width: 100%;
      justify-content: center;
      margin-top: 415px;
      height: auto;
   }
   .choose-color-text h3 i {
      font-size: 20px;
      color: #fff;
      margin-right: 5px;
      animation: 0.8s ease-in moving-arrow infinite;
   }
   .demo-name-tab {
      padding-left: 20px;
      padding-bottom: 60px;
   }
   .demo-tab-items {
      padding: 0 20px;
   }
   .demo-color-panal ul {
      display: flex;
      flex-wrap: wrap;
   }
   .demo-color-panal ul li {
      height: 30px;
      width: 23.333%;
      border-radius: 1px;
      margin: 2px 2px;
   }
   .demo-color-title {
      font-size: 15px;
      margin-bottom: 5px;
   }
   .demo-logo-btn {
      right: 0px;
      width: 100%;
      top: 140px;
      text-align: center;
   }
   .demo-area {
      padding: 0px 0;
      padding-bottom: 80px;
   }
   .demo-next-btn {
      bottom: -60px;
      right: 0;
   }
   .demo-left-img img {
      width: 320px;
   }
   .demo-left-img {
      text-align: center;
   }
   .demo-name-tab a {
      font-size: 14px;
   }
   .demo-color-panal ul li::before {
      font-size: 14px;
   }
   .demo-btns {
      position: static;
   }
   h4.demo-color-title span {
      height: 22px;
      width: 22px;
      line-height: 22px;
      font-size: 16px;
   }
   /* page-counter */
   .page-counter {
      position: relative;
      right: auto;
      top: auto;
      transform: none;
      order: 7;
      width: 50%;
      display: block;
      align-self: center;
   }
   .page-counter ul li h6 {
      display: none;
   }
   .page-counter ul li span {
      position: relative;
   }
   .page-counter ul li {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 2px;
   }
   .page-counter ul li.active h6 {
      opacity: 0;
   }
   .page-counter ul li.show-title h6 {
      transform: scaleX(1);
      transform-origin: center;
      opacity: 1;
      pointer-events: all;
      padding: 0px 0;
   }
   .desktop-content-wrapper .page-counter {
      display: none;
   }
   .responsive-page-counter .page-counter-slide {
      margin: 0 auto;
   }
   .page-counter ul li span {
      height: 20px;
      width: 20px;
      line-height: 20px;
      font-size: 10px;
   }
   .page-counter i {
      bottom: 50%;
      transform: translateY(50%) rotate(-90deg);
   }
   .page-counter i:first-child {
      bottom: auto;
      top: 50%;
      left: 0;
      right: auto;
      transform: translateY(-50%) rotate(-90deg);
   }
   .page-counter.responsive-page-counter {
      display: block;
   }
   h4.demo-color-title span,
   .demo-name-tab a span {
      height: 15px;
      width: 15px;
      line-height: 15px;
      font-size: 10px;
      margin-left: 5px;
   }
   .preview-selected-color h2 {
      font-size: 14px;
   }
   .preview-selected-color {
      margin-top: 0;
      margin-left: -15px;
      position: absolute;
      right: 15px;
      padding: 0;
   }
   .preview-selected-color ul li {
      height: 30px;
      width: 60px;
      border-radius: 1px;
   }

   .single-arrow-shape img {
      display: none;
   }
   .single-arrow-shape h5 {
      display: inline-block;
      color: #000;
      position: relative;
      z-index: 1;
      font-size: 10px;
      padding: 5px 8px;
      font-weight: 600;
   }
   .single-arrow-shape h5::after {
      background: #faa61a;
      background: -moz-linear-gradient(top, #faa61a 0%, #f83d02 100%);
      background: -webkit-linear-gradient(top, #faa61a 0%, #f83d02 100%);
      background: linear-gradient(to bottom, #faa61a 0%, #f83d02 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faa61a', endColorstr='#f83d02',GradientType=0 );
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      transform: skew(-8deg);
   }
   .single-arrow-shape::after {
      position: absolute;
      left: -50%;
      top: 50%;
      transform: translateY(-50%);
      height: 1px;
      background: #f83d02;
      content: "";
      width: 50%;
   }
   .single-arrow-shape::before {
      position: absolute;
      left: -50%;
      top: 50%;
      transform: translateY(-50%);
      height: 1px;
      background: #faa61a;
      background: -moz-linear-gradient(top, #faa61a 0%, #f83d02 100%);
      background: -webkit-linear-gradient(top, #faa61a 0%, #f83d02 100%);
      background: linear-gradient(to bottom, #faa61a 0%, #f83d02 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faa61a', endColorstr='#f83d02',GradientType=0 );
      content: "";
      height: 8px;
      width: 8px;
      border-radius: 50%;
   }

   .error-1 {
      width: 100%;
      height: 200px;
   }
   .error-1 p {
      font-size: 16px;
   }
   .error-1 span {
      font-size: 25px;
   }
   .nextpage-selected-color {
      padding: 0;
      padding-top: 40px;
   }
   .nextpage-selected-color h2 {
      font-size: 16px;
      margin-bottom: 5px;
   }
   .nextpage-selected-color ul li {
      height: 30px;
      border-radius: 1px;
      width: 60px;
   }
   .app-wrapper {
      overflow: hidden;
   }
   .revert-color-btn {
      width: 40%;
      align-items: center;
   }
   .revert-color-btn button {
      padding: 13px;
      width: 100px;
   }
   .input-item input::placeholder, .input-item textarea::placeholder {
      font-size: 14px;
   }
/* poiter arrow position */
   .single-arrow-shape.face {
      right: 25%;
      top: 12%;
   }
   .single-arrow-shape.accents {
      top: 14%;
      right: 15%;
   }
   .single-arrow-shape.cap {
      top: 45%;
      right: 31%;
   }
   .single-arrow-shape.cap-letter {
      top: 48%;
      right: 17%;
   }
   .single-arrow-shape.barrel-letter {
      top: 3%;
      right: 7%;
   }
   .single-arrow-shape.small-bolts {
      top: 17%;
      right: 3%;
   }
   .single-arrow-shape.big-bolts {
      top: 50%;
      right: 13%;
      transform: rotate(0);
   }
   .single-arrow-shape.big-bolts h5 {
      transform: rotate(0deg) translate(0px,0px);
   }
   .single-arrow-shape.spike {
      right: 20%;
   }
   .single-arrow-shape.spike-letter {
      top: 31%;
      right: 3%;
   }
   .single-arrow-shape.inner-barrel {
      right: -15%;
   }
   .single-arrow-shape.outer-barrel {
      right: -4%;
   }
   .single-arrow-shape.barrel-border {
      right: 0%;
   }
   .single-arrow-shape.inner-face {
      right: 6%;
   }
   .single-arrow-shape.face-letter {
      top: 35%;
      right: -7%;
   }
   .single-arrow-shape.outer-barrel-border {
      top: 1%;
      right: -3%;
   }
/*Legend poiter arrow position */
   .kf007-curl-config .single-arrow-shape.accents {
      top: 16%;
      right: 13%;
   }
   .kf010-valor-config .single-arrow-shape.accents {
      top: 23%;
      right: 14%;
   }
   .kf011-spool-config .single-arrow-shape.accents {
      right: 19%;
   }
   .kf014-snow-config .single-arrow-shape.accents {
      top: 15%;
      right: 18%;
   }
   .kf015-gear-config .single-arrow-shape.accents {
      top: 15%;
      right: 21%;
   }
   .kf016-rays-config .single-arrow-shape.accents {
      right: 16%;
   }
   .kf017-hurricane-config .single-arrow-shape.accents {
      right: 13%;
   }
   .kf018-agent-config .single-arrow-shape.accents {
      right: 16%;
   }

/*concave poimter arrow position */
   .kc002-revo-config .single-arrow-shape.accents,
   .kc004-kala-config .single-arrow-shape.accents,
   .kc006-boost-config .single-arrow-shape.accents,
   .kc008-eddy-config .single-arrow-shape.accents   {
      right: 18%;
   }

   .kc005-edge-config .single-arrow-shape.accents {
      right: 14%;
   }
   .kc011-ace-config .single-arrow-shape.accents {
      top: 16%;
   }
   .kc014-trident-config .single-arrow-shape.accents {
      top: 23%;
      right: 20%;
   }
   .kc010-victor-config .single-arrow-shape.accents {
      top: 16.5%;
      right: 14%;
   }

   /* dually pointer arrow position */
.kd001-master-rear-config .single-arrow-shape.big-bolts,
.kd001-master-rear-outer-config .single-arrow-shape.big-bolts,
.kd002-honor-rear-config .single-arrow-shape.big-bolts,
.kd002-honor-rear-outer-config .single-arrow-shape.big-bolts,
.kd003-sarge-rear-config .single-arrow-shape.big-bolts,
.kd003-sarge-rear-outer-config .single-arrow-shape.big-bolts,
.kd004-dule-rear-config .single-arrow-shape.big-bolts,
.kd004-dule-rear-outer-config .single-arrow-shape.big-bolts,
.kd005-razor-rear-config .single-arrow-shape.big-bolts,
.kd005-razor-rear-outer-config .single-arrow-shape.big-bolts,
.kd006-blitz-rear-config .single-arrow-shape.big-bolts,
.kd006-blitz-rear-outer-config .single-arrow-shape.big-bolts,
.kd007-lotus-rear-config .single-arrow-shape.big-bolts,
.kd007-lotus-rear-outer-config .single-arrow-shape.big-bolts,
.kd014-trident-d-rear-config .single-arrow-shape.big-bolts,
.kd014-trident-d-rear-outer-config .single-arrow-shape.big-bolts{
      top: 37%;
      right: 7%;
   }
   .kd001-master-rear-config .single-arrow-shape.accents {
      right: 18%;
   }
   .kd001-master-rear-config .single-arrow-shape.barrel-letter {
      top: 5%;
   }
   .kd001-master-rear-config .single-arrow-shape.face {
      right: 23%;
   }

   .kd001-master-rear-outer-config .single-arrow-shape.barrel-letter,
   .kd002-honor-rear-outer-config .single-arrow-shape.barrel-letter,
   .kd003-sarge-rear-outer-config .single-arrow-shape.barrel-letter,
   .kd004-dule-rear-outer-config .single-arrow-shape.barrel-letter,
   .kd005-razor-rear-outer-config .single-arrow-shape.barrel-letter,
   .kd006-blitz-rear-outer-config .single-arrow-shape.barrel-letter,
   .kd007-lotus-rear-outer-config .single-arrow-shape.barrel-letter,
   .kd008-trident-d-rear-outer-config .single-arrow-shape.barrel-letter {
      right: -1%;
   }
   .kd001-master-rear-outer-config .single-arrow-shape.spike-letter {
      right: 0%;
   }

   .kd005-razor-rear-config .single-arrow-shape.accents,
   .kd005-razor-rear-outer-config .single-arrow-shape.accents {
      right: 22%;
      top: 12%;
   }
   .kd005-razor-rear-config .single-arrow-shape.accents{
      top: 14%;
   }
   .kd007-lotus-rear-config .single-arrow-shape.accents,
   .kd007-lotus-rear-outer-config .single-arrow-shape.accents {
      right: 3%;
   }

   .kd014-trident-d-rear-config .single-arrow-shape.accents,
   .kd014-trident-d-rear-outer-config .single-arrow-shape.accents {
      right: 16%;
   }

   /* sport pointer position */
   .ks601-blade-config .single-arrow-shape.face {
      right: 20%;
      top: 6%;
   }
   .ks601-blade-config .single-arrow-shape.accents {
      top: 6%;
   }
  
   /* overland pointer position */
   .ko100-heral-beadlock-config .single-arrow-shape.big-bolts {
      right: 5%;
   }
   .ko120D-heral-config .single-arrow-shape.big-bolts, .ko200-rush-beadlock-config .single-arrow-shape.big-bolts, .KO400-Reload-Beadlock-config .single-arrow-shape.big-bolts {
      top: 8%;
      right: 5%;
   }

}


/* Tablet desktop :768px. md */
@media (min-width: 768px) and (max-width: 991px) {
   html {
      font-size: 35.5%;
   }
   .last-preview-wheel {
      width: 300px;
      margin: auto;
      margin-bottom: 30px;
   }
   .config-btn {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .main-menu ul li a {
      font-size: 14px;
   }
   .active-menu .main-menu ul {
      opacity: 1;
      height: 530px;
   }
   .header-icons a {
      font-size: 14px;
   }
   .config-header-text h4 {
      font-size: 16px;
   }
   .config-header-text h2 {
      font-size: 30px;
   }
   .config-header-text h5 {
      font-size: 14px;
   }
   .config-wheel {
      padding-left: 6rem;
   }
   .color-name-select ul li {
      font-size: 16px;
   }
   .color-panal ul li {
      height: 35px;
      width: 60px;
   }
   .page-indecator span {
      font-size: 14px;
   }
   .page-indecator .indecator-line {
      height: 5px;
   }
   .side-btn {
      font-size: 14px;
   }
   .color-name-select ul li {
      padding-left: 25px;
   }
   .color-name-select ul li::before {
      width: 15px;
      height: 2px;
      margin-top: 1px;
   }
   .social-links a {
      font-size: 16px;
   }
   .tooltip-inner {
      font-size: 12px;
      font-weight: 500;
   }
   .bs-tooltip-bottom .arrow::before {
      border-width: 5px;
   }
   .config-price-wrap {
      padding-right: 40px;
   }
   .next-prev-btn {
      width: 50%;
      padding-right: 40px;
   }
   .page-indecator {
      width: 50%;
      padding-left: 40px;
   }
   .choose-color-text h3 {
      font-size: 16px;
   }
   .color-panal ul li::before {
      font-size: 12px;
   }
   .config-wheel {
      padding: 0;
   }
   .demo-right {
      top: 225px;
   }
   .demo-logo-btn {
      top: 170px;
   }
   .demo-color-panal ul li {
      width: 60px;
      height: 35px;
   }
   .page-counter ul li span {
      height: 30px;
      width: 30px;
      line-height: 30px;
      font-size: 12px;
   }
   .preview-selected-color {
      display: block;
   }
   .preview-selected-color ul li {
      height: 35px;
      width: 60px;
      border-radius: 1px;
   }
   .config-black-bg {
      height: 80%;
   }
   .color-picker-wrap h4 {
      font-size: 16px;
      margin-bottom: 8px;
   }
   .config-wheel,
   .demo-left-img img {
      width: 400px;
   }
   .demo-left .choose-color-text {  
      margin-top: 515px;
   }
   .revert-color-btn {
      padding-right: 45px;
   }
   .input-item {
      margin-bottom: 20px;
   }
   .side-btn {
      padding: 15px 25px;
      font-size: 14px;
   }
   .demo-color-title {
      font-size: 18px;
      margin-bottom: 8px;
   }
   .section-top-text h1 {
      font-size: 8rem;
      padding: 0 5%;
   }
   .input-item input, .input-item textarea {
      padding: 10px 15px;
   }
   .check-box-item label {
      font-size: 12px;
   }
   .config-btn a {
      font-size: 12px;
   }
   .thank-contant p {
      font-size: 16px;
   }
   .last-preview-wheel {
      width: 350px;
   }
   .single-arrow-shape h5 {
      font-size: 11px;
      padding: 5px 13px;
   }

}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
   .container {
      width: 450px;
   }
   .config-black-bg {
      height: 80%;
   }
   .demo-left .config-black-bg {
      height: 78%;
   }
}
